
.header {
    display: flex;
    padding: 20px 16px 20px 16px;
    margin-bottom: 20px;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
    background-color: white;
    color: #fff;
}

.headerTitle {
    text-align: center;
    margin: 0px;
    flex: 1;
    color: #5259f9;
    
}