
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px 20px 16px;
    margin-bottom: 20px;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
    background-color: white;
    color: #fff;
}

.headerTitle {
    text-align: center;
    margin: 0;
    margin-right: 16px;
    color: #5259f9;
    
}

.info {
color: #5259f9;
text-transform: none;
margin: 0 4px;
font-size: 12px;
font-weight: bold;
}