.listItem {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 8px 0;
    list-style-type: none;
    transition: all 0.3s ease;
}

.taskContainer {
    display: flex;
    background-color: white;
    padding: 8px;
    width: 184px;
    border-radius: 4px;
    cursor: pointer;

}

.taskContainer:hover {
    background-color: #cccccc3d
}

.buttonContainer {
    display: flex;
}

.buttonContainer button {
    margin-left: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
}

.edit-input {
    padding: 8px;
    border-color: #c998f5;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    outline: none;

}

.done-btn {
    background-color: #96C291;
}

.done-btn:hover {
    background-color: #6b8c67;
}

.important-btn {
    background-color: #FFC436;
}

.important-btn:hover {
    background-color: #d4a12c;
}

.delete-btn {
    background-color: #EF6262;
}

.delete-btn:hover {
    background-color: #ca5050;
}

.edit-btn {
    background-color: #D8B4F8;
}

.edit-btn:hover {
    background-color: #c998f5;
}

.list-item-edit-input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 12px;
    color: #303030
}

.item-input-wrapper {
    display: inline-block;
    position: relative;
    top: -6px
}

.input-error-message {
    display: block;
    font-size: 8px;
    color: red;
    margin-left: 1px;
}