.listItem {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 8px 0;
    list-style-type: none;
}

.taskContainer {
    background-color: white;
    padding: 8px;
    width: 184px;
    border-radius: 4px;
}


.buttonContainer {
    display: flex;
}

.buttonContainer button {
    margin-left: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
}



.done-btn {
    background-color: #96C291;
}
.done-btn:hover {
    background-color: #6b8c67;
}

.important-btn {
    background-color: #FFC436;
}
.important-btn:hover {
    background-color: #d4a12c;
}

.delete-btn {
    background-color: #EF6262;
}
.delete-btn:hover {
    background-color: #ca5050;
}