.searchInput {
    display: flex;
    padding: 8px;
    margin-right: 16px;
    border-radius: 4px;
    width: 260px;
    border-color: #5259f9;
}

::placeholder {
    font-size: 16px;
    color: #232323;
}

.searchcontainer {
    display: flex;
    justify-items: center;
    width: 100%;
    justify-content: space-between;
}

.searchBtn {
    background-color: #5259f9;
}